img {
    height: 200px;
    width: 200px;
    object-fit: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.smart {
    margin-top: 10px;
}
body{
    background-image: url(img/background.jpeg);
    background-size: cover;
}
main{
    margin-top: 200px;
}
h1, footer{
    color: snow;
    font-family: 'Roboto', sans-serif;
}
h2, button{
    font-family: 'Roboto', sans-serif;
}
